*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #f3f3f3;
    width: 100vw;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.calculator-body{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 470px;
    margin: auto;
    margin-top: 43px;
    background: #1f242e;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    box-shadow: 15px 15px 15px #a7a7a7, 10px -10px 15px #a7a7a7;
}
.input-field {
    width: 85%;
    height: 80px;
    margin: auto;
    margin-bottom: 50px;
}
.calculator-body textarea {
    width: 200px;
    height: 100%;
    padding: 10px;
    font-size: 40px;
    text-align: right;
    border-radius: 5% 5%;
    border-right: none;
    border-left: none;
    border: none;
    outline: none;
    margin: 30px 0px 20px;
    color: #ffffff;
    background: #191c24;
    pointer-events: none;
    resize: none;
    box-shadow: 8px 8px 15px #ffffff14, -8px -8px 15px #ffffff14;
}

.calculator-body table {
    margin: 20px auto;
}

.calculator-body table button {
    width: 40px;
    height: 45px;
    border-radius: 25%  25% 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    background: transparent;
    color: #d9af39;
    cursor: pointer;
    border: 1px solid #383838;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}
.calculator-body table button.symbol{
    background-color: #00000000;
    color: #00cdba;
}
i.fa-solid.fa-circle {
    font-size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-body table button:hover {
    background: #2424248c;
    color: white;
    transition: ease-in 0.2s;
    transform: scale(.9);
    font-size: 25px;
}
button.c:hover {
    background-color: #00000000 !important;
    color: #cf0000 !important;
}

button.symbol.equal:hover {
    color: #009700;
    background: transparent;
}
@media (max-width: 750px){
    .calculator-body{
        width: 260px;
    }
    .input-field {
        width: 230px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
}
    .calculator-body textarea{
    width: 230px;
    }
    
}
